!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src="/javascripts/vendor/require.js", data-main="/javascripts/vendor/main")
    
  body!= body
  //
    a(href='/jasmine/SpecRunner.html') Run Specs
